<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Bright Apparel - Invoice Management System</title>
	<% include partials/head.html %>		
		
</head>

<body>
		<!-- start: Navigation Bar -->
		<% include partials/navbar.html %>
		<!-- end: Navigation Bar -->
		<div class="container-fluid-full">
		<div class="row-fluid">
				
			<!-- start: Side Bar Menu -->
			<% include partials/sidebar.html %>
			<!-- end: Side Bar Menu -->			
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10">
			
			<!--- BREAD CRUM -->
			
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.html">Home</a>
					<i class="icon-angle-right"></i> 
				</li>
				<li>
					<i class="icon-edit"></i>
					<a href="#">Invoice</a>
				</li>
			</ul>
			<!--- END OF BREAD CRUM -->
			
			<!-- INVOICE FORM -->
			
			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon white edit"></i><span class="break"></span>Invoice Form</h2>
						<!-- <div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div> -->
					</div>
					<div class="box-content">
						<form class="form-horizontal">
							<fieldset>
							
							  <div class="form-actions" style="margin-bottom: 10px;"">
								<label class="control-label" for="focusedInput" style="font-weight: bold;font-size: 20px;padding-left: 200px;"> Client Details </label>
							  </div>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">Name :</label>
								<div class="controls">
								  <select id="selectError" data-rel="chosen">
									<option>Option 1</option>
									<option>Option 2</option>
									<option>Option 3</option>
									<option>Option 4</option>
									<option>Option 5</option>
								  </select>
								</div>
								
							  </div>
							  
							  <div class="control-group">
								<label class="control-label" for="focusedInput">Address Line 1 :</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="focusedInput" type="text" value="">
								</div>

							  </div>
							  
							  <div class="control-group">
								<label class="control-label" for="focusedInput">Address Line 2 :</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="focusedInput" type="text" value="">
								</div>
							  </div>
							  
							  <div class="control-group">
								<label class="control-label" for="focusedInput">Address Line 3 :</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="focusedInput" type="text" value="">
								</div>
							  </div>
							  
							  <div class="control-group">
								<label class="control-label" for="focusedInput">City :</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="focusedInput" type="text" value="">
								</div>
							  </div>
							</fieldset>
							
							<fieldset>
								<div class="form-actions" style="margin-bottom: 10px;"">
									<label class="control-label" for="focusedInput" style="font-weight: bold;font-size: 20px;padding-left: 200px;"> Billing Details </label>
								</div>

								 <div class="control-group">
									<label class="control-label" for="focusedInput">Challan No. :</label>
									<div class="controls">
									  <input class="input-xlarge focused" id="focusedInput" type="text" value="">
									</div>
								  </div>
								  
								  <div class="control-group">
									<label class="control-label" for="focusedInput">Challan Date. :</label>
									<div class="controls">
									  <input type="text" class="input-xlarge datepicker" id="date01" value="02/16/12">
									</div>
								  </div>
								  
								  <div class="control-group">
									<label class="control-label" for="focusedInput">Order No. :</label>
									<div class="controls">
									  <input class="input-xlarge focused" id="focusedInput" type="text" value="">
									</div>
								  </div>
								  
								  <div class="control-group">
									<label class="control-label" for="focusedInput">Order Date. :</label>
									<div class="controls">
									  <input type="text" class="input-xlarge datepicker" id="date01" value="02/16/12">
									</div>
								  </div>
								  
								  <div class="control-group">
									<label class="control-label" for="focusedInput">Invoice No. :</label>
									<div class="controls">
									  <input class="input-xlarge focused" id="focusedInput" type="text" value="">
									</div>
								  </div>
								  
								  <div class="control-group">
									<label class="control-label" for="focusedInput">Invoice Date. :</label>
									<div class="controls">
									  <input type="text" class="input-xlarge datepicker" id="date01" value="02/16/12">
									</div>
								  </div>
								  
								  
								 
							</fieldset>
							
							<fieldset>
								<div class="form-actions" style="margin-bottom: 10px;"">
									<label class="control-label" for="focusedInput" style="font-weight: bold;font-size: 20px;padding-left:200px;"> Particulars </label>
								</div>
								<div id="controlButtons">
								  <button onclick="addRow();">Add row</button>
								  <button onclick="deleteRow();">Delete row</button>
								</div>
								  <table id="myTable" cellspacing="10">
									<thead>
									  <tr>
										<th>Product Name</th>
										<th>Description</th>
										<th>Quanity</th>
										<th>Rate</th>
										<th>Vat Amount</th>
										<th>Non Vat Amount</th>
									  </tr>
									</thead>
									<tbody>
									</tbody>
								  </table>
								
							</fieldset>
							
							<fieldset>
								<div class="form-actions" style="margin-bottom: 10px;"">
									<label class="control-label" for="focusedInput" style="font-weight: bold;font-size: 20px;padding-left: 200px;"> Billing Amount </label>
								</div>
								<div class="control-group">
									<label class="control-label" for="focusedInput"> Gross Amount :</label>
									<div class="controls">
									  <input class="input-xlarge focused" id="focusedInput" type="text" value="">
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label" for="focusedInput"> Gross Non VAT Amount :</label>
									<div class="controls">
									  <input class="input-xlarge focused" id="focusedInput" type="text" value="">
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label" for="focusedInput"> Sub Total :</label>
									<div class="controls">
									  <input class="input-xlarge focused" id="focusedInput" type="text" value="">
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label" for="focusedInput"> Packaging and Forwarding :</label>
									<div class="controls">
									  <input class="input-xlarge focused" id="focusedInput" type="text" value="">
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label" for="focusedInput"> Sub Total :</label>
									<div class="controls">
									  <input class="input-xlarge focused" id="focusedInput" type="text" value="">
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label" for="focusedInput"> Tax :</label>
									<div class="controls">
									  <select id="selectError3" style="width: 196px;">
										<option>Option 1</option>
										<option>Option 2</option>
										<option>Option 3</option>
										<option>Option 4</option>
										<option>Option 5</option>
									  </select>
									   <input class="input-xlarge focused" style="width: 70px;" id="focusedInput" type="text" value="">
									   <input class="input-xlarge focused" id="focusedInput" type="text" value="">
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label" for="focusedInput"> Transport Type :</label>
									<div class="controls">
									  <select id="selectError3" style="width: 196px;">
										<option>Option 1</option>
										<option>Option 2</option>
										<option>Option 3</option>
										<option>Option 4</option>
										<option>Option 5</option>
									  </select>
									   <input class="input-xlarge focused" style="width: 70px;" id="focusedInput" type="text" value="">
									   <input class="input-xlarge focused" id="focusedInput" type="text" value="">
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label" for="focusedInput"> Net Amount :</label>
									<div class="controls">
									  <input class="input-xlarge focused" id="focusedInput" type="text" value="">
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label" for="focusedInput"> Amount in Words :</label>
									<div class="controls">
									  <input class="input-xlarge focused" id="focusedInput" type="text" value="">
									</div>
								</div>
							</fieldset>
							
							<fieldset>
								<div class="form-actions">
									<button type="submit" class="btn btn-primary">Save changes</button>
									<button class="btn">Cancel</button>
								</div>
							</fieldset>
							
						  </form>
					
					</div>
				</div>
			
			</div>
			
			

	</div><!--/.fluid-container-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Settings</h3>
		</div>
		<div class="modal-body">
			<p>Here settings can be configured...</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<a href="#" class="btn btn-primary">Save changes</a>
		</div>
	</div>
	
	<div class="clearfix"></div>
	
	<!-- start: Footer-->
	<% include partials/footer.html %>
	<!-- end: Footer-->

	<!-- start: JavaScript-->
	<% include partials/scripts.html %>
	<script src="/javascripts/invoice/events.js"></script>
	<!-- end: JavaScript-->
	
</body>
</html>
