<div id="sidebar-left" class="span2">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked main-menu">
			<li><a href="/"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>	
			<li><a href="/client/"><i class="icon-envelope"></i><span class="hidden-tablet"> Client</span></a></li>
			<li><a href="/product"><i class="icon-tasks"></i><span class="hidden-tablet"> Product</span></a></li>
			<li><a href="/invoice/"><i class="icon-eye-open"></i><span class="hidden-tablet"> Invoice</span></a></li>
		</ul>
	</div>
</div>